.shipping-form {
    display: flex;
    justify-content: center;
    background-color: rgba(228, 226, 226, 0.481);
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 10px;
    line-height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}
.shipping-field {
    font-size: 15px;
    padding: 10px;
    margin-bottom: 5px;
    width: 220px;
    border: none;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
}
.error {
    color: red;
}